html, body{
	height:100%;
	padding:0px;
	margin:0px;
	font-family: 'Prompt', sans-serif;
}

/*---Fijar menu al hacer scroll---*/
.affix {
    top: 0;
    width: 100%;
    z-index: 999 !important;
}

.affix + .container-fluid {
    /*padding-top: 70px;  ------------       revisar valor?*/ 
}

#inicio {
	color:orange;
}

#inicio:hover {
	color:white;
}

/*---menus desplegables---*/
.navbar-inverse .navbar-nav .open .dropdown-menu>li {
	border-bottom:dotted;	
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	display:block;
	color:black;
	text-decoration:none;
	text-indent: 20px;	
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
	color:white;
	background-color:transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a>img {
	height:50px;
	max-height:50px;
	padding:5px;	
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a>img:hover {
    -ms-transform: scale(1.5, 1.5); /* IE 9 */
    -webkit-transform: scale(1.5, 1.5); /* Safari */
    transform: scale(1.5, 1.5);		
}

.liGaleria {
	padding-top:10px;
	padding-bottom:10px;
}

.margenBoton {
	margin-bottom:15px;
}

.new, .shortNew {
	background-color:#f8faf9;
}

.shortNew img {
	width:100%;
}

#noticias a {
    text-decoration: none;
	color: black;
}

#noticias a *:active {
    text-decoration: none;
	color: black;
}

#news1:focus {
	outline:none;
}

#boton1 {
	margin-left: 14px;
	background-color:#333;
	color:#f0ad4e;
	border-color:#333;
}

#autoscroll {
	display:none;
	position:fixed;
	height:34px;
	text-decoration: none;
	border-color:#f0ad4e;
	z-index:999;	
}

#autoscroll:focus {
	background-color:#f0ad4e;
}

#autoscroll:active {
	background-color:#f0ad4e;
}
	
#botonVolver {
	display:none;
	position:fixed;
	height:46px;
	bottom:13px;
	right:14px;
	z-index:999;
    cursor: pointer;
}

#botonVolver img {
	height:100%;
	max-height:100%;
}

#pie {
	position:fixed;
	bottom:0;
	width:100%;
	height:14px;
	color:white;
	background-color:#333;
	text-align:left;
	font-family:Verdana;
	font-size:0.7em;
	padding-right:2%;
	z-index:1000;
}

#loading {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(51,51,51,0.6);
	z-index:9999;
}

#loading img {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-100px;
	opacity:1;
	width:200px;
	max-width:200px;
	max-height:200px;
}

/*-----------------------------------------------------------------------------------------*/



/* -----------------------------------------------------------------------------------------*/

@media (min-width:768px) and (max-width:991px) {
.jumbotron {
	padding-top:20px;
	padding-bottom:20px;	
	}
#logo {
	max-height:100px;	
	}

.navbar {
	font-size:0.8em;	
}

h1, h2 {
	color:white;
	background-color:#333;
	font-size:2.7em; 
}

h3 {
	font-size:2em;
}

p {
	font-size:1.2em; 
}

.fecha {
	font-size:0.7em;	
}
	
}

/* -----------------------------------------------------------------------------------------*/

@media (min-width:992px) {

.jumbotron {	
	padding-top:40px;
	padding-bottom:40px;
}

.navbar {
	font-size:1.2em;	
}

h1, h2 {
	color:white;
	background-color:#333;
	font-size:2.7em;
}

h3 {
	font-size:2em;
}

p {
	font-size:1.2em; 
}

.fecha {
	font-size:0.8em;	
}
	
}

/* -----------------------------------------------------------------------------------------*/

@media(min-width:768px) {

.jumbotron {
	background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
	text-align:center;
	margin-bottom:0px;
}

.jumbotron img {
	max-height:150px;
}

/*imagen al lado del boton - logo*/
.navbar-header img {
	display:none;
}

#margen { /* ------------ NO CAMBIAR ORDEN. DESPUÉS DE .tipo a{} --------------*/
	padding-top:16px;
	padding-bottom:16px;
	text-align:center;
	text-indent:0;
}

.dropdown-menu {	
	background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	width:340px;
}

.conTipo {
	margin-top:15px;
}

.thumbnail {
	padding:18px;
	border:2px solid #ddd;
	border-radius:4px;
}

.shortNew:hover {
    -ms-transform: scale(1.02, 1.02); /* IE 9 */
    -webkit-transform: scale(1.02, 1.02); /* Safari */
    transform: scale(1.02, 1.02);		
}

#noticias, #noticiaCompleta {
	padding-right:340px;
}

.col-sm-6, .col-sm-12 {
	padding-right:0;
}

#publicidad1 {
	display:none;
}

#publicidad2 {
	border-left:dotted;
	display:block; 
	position:absolute; 
	right:0px; 
	width:320px;
	/*height:615px;*/
	padding:10px;
	text-align:center;
}

#framePubli2{
	width:300px;
	height:600px;
	border:solid;
	border-color:#333;
	border-bottom-width:1px;
}

#framePubli2:hover {	
	opacity:0.7;
}

#boton1 {
	width:calc(100% - 340px);
	margin-bottom: 30px;
}

#autoscroll {
	bottom:30px;
	right:90px;	
}

#botonVolver {
	height:50px;
	bottom:13px;
	right:20px;
}

}


/* ----------------------------------------  MOVIL  ----------------------------------------*/

@media(max-width:767px) {

.navbar {
	font-family: 'Prompt', sans-serif;	
}

h1, h2 {
	color:white;
	background-color:#333;
}

h3 {
	font-size:1.8em;
}

p {
	font-family: 'Prompt', sans-serif;
	font-size:1.1em;
}

.fecha {
	font-size:0.7em;	
}

.jumbotron {
	display:none;
}

/*---boton oculto del menu. Header de la barra de navegacion---*/
#botonMenu {
	float:left;	
    background-color: #333;
	margin-top:28px;
	margin-left:16px;
}

/*imagen al lado del boton - logo. Header de la barra de navegacion*/
.navbar-header img {
	height:100px;
	padding:15px 15px;
}

/*---fondo Header de la barra de navegacion---*/
.navbar-inverse {
	background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	text-align:right;
	border:none;
	border-bottom:solid;
	border-bottom-width:4px;
	border-color:white;
	margin-bottom:0;
	outline-style:solid;
	outline-width:1.5px;
	outline-color:#333;
}

/*---contenedor barra de navegacion---*/
#divMenu {
	padding:0;
	border:none;
}

/*---Contenidos barra de navegacion---*/
#divMenu .navbar-header {
	text-align:left;
}

#divMenu .navbar-nav {
	margin:0;
}

/*---ClimbArt en el header del menu---*/
#inicio {
	color:orange;
	display:block;
	width:100%;
	background-color:#333;
}
/*---menu---*/

.navbar-inverse .navbar-nav>li>a {
	color:#333;
}

.navbar-inverse .navbar_collapse {
	background-color:white;
    opacity:0.5;
}

#margen { /* ------------ NO CAMBIAR ORDEN. DESPUÉS DE .tipo a{} --------------*/
	padding-top:16px;
	padding-bottom:16px;
	text-align:center;
	text-indent:0;
}

.thumbnail {
	padding:8px;
	border:1.3px solid #ddd;
	border-radius:4px;
}

.new, .shortNew {
	background-color:#f8faf9;
}

#contenido {
	padding:0;
}

#publicidad1 {
	padding:0;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
	text-align:center;
}

#publicidad1 iframe {
	width:320px; 
	height:100px;
	border:solid;
	border-color:#333;
	border-bottom-width:1px;
	margin-left:auto;
	margin-right:auto;
}

#publicidad2 {
	display:none;
}

#boton1 {
	width:calc(100% - 28px);
	margin-bottom: 80px;
}

#autoscroll {
	bottom:25px;
	right:74px;	
}
	
#botonVolver {
	height:46px;
	bottom:13px;
	right:14px;
}
	
} 
